@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:ital,wght@0,300;0,600;0,700;1,300&display=swap");

$headings-font-family: "Zilla Slab", serif;
$headings-font-weight: 800;

$font-family-base: "Plain", sans-serif;

$primary: #000000;
$secondary: #979797;
$light: #d3d3d3;
$text-color: #333;

$vertical-space: 0.5rem;
