@import "./config";

.row.make-columns > div {
  -moz-column-width: 19em;
  -webkit-column-width: 19em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
.row.make-columns > div {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
}

html,
body {
  color: $text-color;
  font-size: 18px; // the "base size" = 1rem
  line-height: 140%;

  // resets
  margin: 0;
  padding: 0;
}
nav {
  background: $primary;
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  max-height: 5em;
  min-height: 3em;
  font-family: $headings-font-family;
}

.no-padding {
  padding: 0rem;
}
.half-padding {
  padding: 0.5rem;
}
.no-margin {
  margin: 0rem;
}

.active {
  color: white;
  border-style: none;
  margin: 0.3em;

  font-family: inherit;
  font-weight: bold;
  transition: all 0.2s ease;

  // other styles

  &:hover {
    // hover styles
  }
  &:active {
    // styles for when the button is being pressed
  }
  &:focus {
    // styles for when it has focus (e.g. with keyboard navigation)
  }
}

h1,
h2,
h3 {
  margin: 0 0 (3 * $vertical-space) 0;
}
.styled-shadow {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
  // border-style: solid;
  // border: black;
  // border-width: thick;
}

p,
ul,
ol,
li {
  // vertical rhythm defined by bottom margins
  margin: 0 0 $vertical-space 0;
}

.App {
  // to center the app in the middle of the page
  max-width: 40rem;
  margin: 0 auto;

  // but add some spacing above
  margin-top: 2rem;

  // horizontal (internal) spacing
  padding: 0 1rem;
}
.nav {
  position: relative;
}

button {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $primary;
  color: white;
  border-style: none;
  margin: 0.3em 0.3em 0.3em 0;

  font-family: inherit;
  transition: all 0.2s ease;

  // other styles

  &:hover {
    color: $primary;

    background-color: white;
    border-style: solid;
    border-color: $primary;
    border-width: 0.01em;

    // hover styles
  }
  &:active {
    // styles for when the button is being pressed
  }
  &:focus {
    // styles for when it has focus (e.g. with keyboard navigation)
  }
}
