// src/style/global.scss

@import "./_config";
@import "~bootstrap";

/* elements */

.image-fit {
  max-width: 100%;
  min-width: 100%;
}

.mainCard {
  min-width: 100px;
}
.blackText {
  color: black;
}
.whiteText {
  color: white;
}
